* {
    margin: 0;
    padding: 0;
    text-indent: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;


}

html {

    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    letter-spacing: 5px;
    color: #ffffff;
}

#page {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
    color: #ffffff;

}

.bar1 {
    font-size: 0.5rem;
    left: 2%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down1 6s infinite ease-in-out;
    animation: down1 6s infinite ease-in-out;

}

.bar2 {
    font-size: 0.7rem;
    left: 4%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down2 7s infinite ease-in-out;
    animation: down2 7s infinite ease-in-out;
}

.bar3 {
    font-size: 0.9rem;
    left: 6%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down3 8s infinite ease-in-out;
    animation: down3 8s infinite ease-in-out;
}

.bar4 {
    font-size: 1.1rem;
    left: 8%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down4 7s infinite ease-in-out;
    animation: down4 7s infinite ease-in-out;
}

.bar5 {
    font-size: 1.3rem;
    left: 10%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 40px;
    -webkit-animation: down5 6s infinite ease-in-out;
    animation: down5 6s infinite ease-in-out;
}

.bar10 {
    font-size: 0.5rem;
    left: 12%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down1 6s infinite ease-in-out;
    animation: down1 6s infinite ease-in-out;
}

.bar20 {
    font-size: 0.9rem;
    left: 14%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down2 7s infinite ease-in-out;
    animation: down2 7s infinite ease-in-out;
}

.bar30 {
    font-size: 0.7rem;
    left: 16%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down3 8s infinite ease-in-out;
    animation: down3 8s infinite ease-in-out;
}

.bar40 {
    font-size: 1.5rem;
    left: 18%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 40px;
    -webkit-animation: down4 7s infinite ease-in-out;
    animation: down4 7s infinite ease-in-out;
}

.bar50 {
    font-size: 1.2rem;
    left: 20%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down5 6s infinite ease-in-out;
    animation: down5 6s infinite ease-in-out;
}

.bar100 {
    font-size: 0.5rem;
    left: 22%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down1 6s infinite ease-in-out;
    animation: down1 6s infinite ease-in-out;
}

.bar200 {
    font-size: 0.9rem;
    left: 24%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down2 7s infinite ease-in-out;
    animation: down2 7s infinite ease-in-out;
}

.bar300 {
    font-size: 0.7rem;
    left: 26%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down3 8s infinite ease-in-out;
    animation: down3 8s infinite ease-in-out;
}

.bar400 {
    font-size: 1.5rem;
    left: 28%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 40px;
    -webkit-animation: down4 7s infinite ease-in-out;
    animation: down4 7s infinite ease-in-out;
}

.bar500 {
    font-size: 1.2rem;
    left: 30%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down5 6s infinite ease-in-out;
    animation: down5 6s infinite ease-in-out;
}

.bar1000 {
    font-size: 0.5rem;
    left: 32%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down1 15s infinite ease-in-out;
    animation: down1 15s infinite ease-in-out;
}

.bar2000 {
    font-size: 0.9rem;
    left: 34%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down2 16s infinite ease-in-out;
    animation: down2 10s infinite ease-in-out;
}

.bar3000 {
    font-size: 1.2rem;
    left: 38%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down3 17s infinite ease-in-out;
    animation: down3 8s infinite ease-in-out;
}

.bar4000 {
    font-size: 1.5rem;
    left: 44%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 40px;
    -webkit-animation: down4 16s infinite ease-in-out;
    animation: down4 13s infinite ease-in-out;
}

.bar5000 {
    font-size: 1.3rem;
    left: 48%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down5 19s infinite ease-in-out;
    animation: down5 19s infinite ease-in-out;
}



.rbar1 {
    font-size: 0.5rem;
    right: 2%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down1 6s infinite ease-in-out;
    animation: down1 6s infinite ease-in-out;

}

.rbar2 {
    font-size: 0.7rem;
    right: 4%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down2 7s infinite ease-in-out;
    animation: down2 7s infinite ease-in-out;
}

.rbar3 {
    font-size: 0.9rem;
    right: 6%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down3 8s infinite ease-in-out;
    animation: down3 8s infinite ease-in-out;
}

.rbar4 {
    font-size: 1.1rem;
    right: 8%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down4 7s infinite ease-in-out;
    animation: down4 7s infinite ease-in-out;
}

.rbar5 {
    font-size: 1.3rem;
    right: 10%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 40px;
    -webkit-animation: down5 6s infinite ease-in-out;
    animation: down5 6s infinite ease-in-out;
}

.rbar10 {
    font-size: 0.5rem;
    right: 12%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down1 6s infinite ease-in-out;
    animation: down1 6s infinite ease-in-out;
}

.rbar20 {
    font-size: 0.9rem;
    right: 14%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down2 7s infinite ease-in-out;
    animation: down2 7s infinite ease-in-out;
}

.rbar30 {
    font-size: 0.7rem;
    right: 16%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down3 8s infinite ease-in-out;
    animation: down3 8s infinite ease-in-out;
}

.rbar40 {
    font-size: 1.5rem;
    right: 18%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 40px;
    -webkit-animation: down4 7s infinite ease-in-out;
    animation: down4 7s infinite ease-in-out;
}

.rbar50 {
    font-size: 1.2rem;
    right: 20%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down5 6s infinite ease-in-out;
    animation: down5 6s infinite ease-in-out;
}

.rbar100 {
    font-size: 0.5rem;
    right: 22%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down1 6s infinite ease-in-out;
    animation: down1 6s infinite ease-in-out;
}

.rbar200 {
    font-size: 0.9rem;
    right: 24%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down2 7s infinite ease-in-out;
    animation: down2 7s infinite ease-in-out;
}

.rbar300 {
    font-size: 0.7rem;
    right: 26%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down3 8s infinite ease-in-out;
    animation: down3 8s infinite ease-in-out;
}

.rbar400 {
    font-size: 1.5rem;
    right: 28%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 40px;
    -webkit-animation: down4 7s infinite ease-in-out;
    animation: down4 7s infinite ease-in-out;
}

.rbar500 {
    font-size: 1.2rem;
    right: 30%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down5 6s infinite ease-in-out;
    animation: down5 6s infinite ease-in-out;
}

.rbar1000 {
    font-size: 0.7rem;
    right: 32%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down1 15s infinite ease-in-out;
    animation: down1 15s infinite ease-in-out;
}

.rbar2000 {
    font-size: 0.9rem;
    right: 34%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down2 16s infinite ease-in-out;
    animation: down2 9s infinite ease-in-out;
}

.rbar3000 {
    font-size: 1.2rem;
    right: 38%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down3 17s infinite ease-in-out;
    animation: down3 8s infinite ease-in-out;
}

.rbar4000 {
    font-size: 1.5rem;
    right: 44%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 40px;
    -webkit-animation: down4 16s infinite ease-in-out;
    animation: down4 11s infinite ease-in-out;
}

.rbar5000 {
    font-size: 1.3rem;
    right: 48%;
    position: absolute;
    color: #03A062;
    bottom: 80%;
    line-height: 30px;
    -webkit-animation: down5 19s infinite ease-in-out;
    animation: down5 13s infinite ease-in-out;
}


.matrix{
    
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #01ff41;
    animation: matrix 30s infinite linear;
    z-index: 5;
}

.neo{
    position: absolute;
    left: 48%;
    top:25%;
    width: 20%;
    height: 50%;
    opacity: 0;
    z-index: 6;
    animation: neo 30s infinite linear;
}


@keyframes matrix {

  0%   {color: #01ff41;
           font-size: 1rem;
    }
    
  10%   {color: #f8f8f8;
        font-size: 2rem;
        transform: translate3d(5px, 0, 0);
      
    }
    
  20%  {color: #01ff41;
       font-size: 3rem;
       transform: translate3d(-5px, 0, 0);
    }
    
  30%  {color: #f8f8f8;
        font-size: 4rem;
        transform: translate3d(5px, 0, 0);
        }
    
    
  40%  {color: #01ff41;
       font-size: 5rem;
       transform: translate3d(-5px, 0, 0);}
    
  50%  {color: #f8f8f8;
        font-size: 6rem;
        transform: translate3d(5px, 0, 0);
      }
    
  60%  {color: #01ff41;
        font-size: 7rem;
        transform: translate3d(-5px, 0, 0);
      }
  70%  {color: #f8f8f8;
        font-size: 8rem;
        transform: translate3d(5px, 0, 0);
      }
    
  80%  { font-size: 9rem;
         transform: translate3d(5px, 0, 0);
          }
    
  90%  { color: #f8f8f8;
        font-size: 11rem;
        background-color: #000000;
        width: 100%;
        height: 100vh;
          }
    
  
  100% {color: #f8f8f8;
        font-size: 11rem;
        background-color: #000000;
        width: 100%;
        height: 100vh;}
}

@keyframes neo {

  0%   {opacity:0;}
  25%  {opacity:0;}
  50%  {opacity:0;}
  75%  {opacity:0;}
  90%  {opacity:0.3;}
  100% {opacity:0.3;}
}

@keyframes down1 {

  0%   {color: #f8f8f8;
        bottom: 100%;}
  25%  {color: #b2fcc5}
  50%  {color: #63f287}
  75%  {color: #2afc5f}
  100% {color: #01ff41;
        bottom: -260%;}
}

@keyframes down2 {

  0%   {color: #f8f8f8;
        bottom: 120%;}
  25%  {color: #b2fcc5}
  50%  {color: #63f287}
  75%  {color: #2afc5f}
  100% {color: #01ff41;
        bottom: -270%;}
}

@keyframes down3 {

  0%   {color: #f8f8f8;
        bottom: 130%;}
  25%  {color: #b2fcc5}
  50%  {color: #63f287}
  75%  {color: #2afc5f}
  100% {color: #01ff41;
        bottom: -280%;}
}

@keyframes down4 {

  0%   {color: #f8f8f8;
        bottom: 140%;}
  25%  {color: #b2fcc5}
  50%  {color: #63f287}
  75%  {color: #2afc5f}
  100% {color: #01ff41;
        bottom: -290%;}
}

@keyframes down5 {

 0%   {color: #f8f8f8;
       bottom: 150%;}
  25%  {color: #b2fcc5}
  50%  {color: #63f287}
  75%  {color: #2afc5f}
  100% {color: #01ff41;
        bottom: -300%;}
}






@media screen and (max-width: 768px) {

    #page>*{

        font-size: calc(1vw + 0.6vh + 0.1vmin);
        
    }
    
    @keyframes matrix {

  0%   {color: #01ff41;
           font-size: 1rem;
    }
    
  10%   {color: #f8f8f8;
        font-size: 2rem;
        transform: translate3d(5px, 0, 0);
      
    }
    
  20%  {color: #01ff41;
       font-size: 2rem;
       transform: translate3d(-5px, 0, 0);
    }
    
  30%  {color: #f8f8f8;
        font-size: 3rem;
        transform: translate3d(5px, 0, 0);
        }
    
    
  40%  {color: #01ff41;
       font-size: 4rem;
       transform: translate3d(-5px, 0, 0);}
    
  50%  {color: #f8f8f8;
        font-size: 4rem;
        transform: translate3d(5px, 0, 0);
      }
    
  60%  {color: #01ff41;
        font-size: 5rem;
        transform: translate3d(-5px, 0, 0);
      }
  70%  {color: #f8f8f8;
        font-size: 5rem;
        transform: translate3d(5px, 0, 0);
      }
    
  80%  { font-size: 5rem;
         transform: translate3d(5px, 0, 0);
          }
    
  90%  { color: #f8f8f8;
        font-size: 5rem;
        background-color: #000000;
        width: 100%;
        height: 100vh;
          }
    
  
  100% {color: #f8f8f8;
        font-size: 5rem;
        background-color: #000000;
        width: 100%;
        height: 100vh;}
}
    @keyframes neo {

  0%   {opacity:0;}
  25%  {opacity:0;}
  50%  {opacity:0;}
  75%  {opacity:0;}
  90%  {opacity:0.3;
        width: 60%;
        left: 25%;}
  100% {opacity:0.3;
        width: 60%;
        left: 25%;}
}



}
